{% extends 'base.html.twig' %}

{% block title %}Northforge{% endblock %}

{% block body %}
<div>
    <h1>Welcome to Northforge!</h1>
    <p>This is the home page of the Northforge application.</p>
    <img src="https://www.mnhn.fr/system/files/styles/21_10_medium/private/thumbnails/image/phoque-veau-marin-c-mnhn-p.png.webp?itok=x6_XT7Lu" alt="Phoque veau-marin">
</div>
{% endblock %}
