{% extends 'base.html.twig' %}

{% block title %}Northforge{% endblock %}

{% block body %}
<main class="home-hero">
	<section class="home-hero__content">
		<div class="home-hero__motion" aria-hidden="true">
			<span class="home-hero__truck home-hero__truck--one"></span>
			<span class="home-hero__truck home-hero__truck--two"></span>
			<span class="home-hero__pallet home-hero__pallet--one"></span>
			<span class="home-hero__pallet home-hero__pallet--two"></span>
			<span class="home-hero__pallet home-hero__pallet--three"></span>
		</div>
		<h1 class="home-hero__title">
			<span class="home-hero__title-line">Échangez vos bien</span>
			<span class="home-hero__title-line home-hero__title-line--accent">en toute simplicité</span>
		</h1>

		<div class="home-hero__actions">
			<a class="btn btn-inscription home-hero__cta home-hero__cta--primary" href="#catalogue">
				Découvrir le catalogue
				<i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
			</a>

			<a class="btn btn-connexion home-hero__cta home-hero__cta--secondary" href="{{ path('app_login') }}">
				Connexion / Inscription
			</a>
		</div>
	</section>
</main>

{% endblock %}
